@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.home-container {
    width: 100%;
    display: flex;
    margin-top: 68px;
    /* margin-bottom: 50px; */
    min-height: 600px;
    background-image: url('../assets/img/building.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 90vh;
}

.home-wrapper-left {
    position: relative;
    width: 30%;
}

.home-wrapper-left-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 600px;
}

.home-wrapper-left-img img{
    width: 60%;
    border-radius: 50%;
    /* height: 450px; */
}

.home-wrapper-right {
    width: 70%;
    margin-left: 10%;
}

.home-wrapper-right-title {
    margin-top: 20px;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: rgb(240, 188, 44);
}

.home-wrapper-right-img-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    padding: 10px 200px;
}

.home-wrapper-right-img-wrapper img:nth-child(1),
.home-wrapper-right-img-wrapper img:nth-child(3) {
    width: 65px;
    
}

.home-wrapper-right-img-wrapper img:nth-child(2) {
    width: 90px;
    height: 65px;
}

.home-logo-line {
    margin-top: 1px;
    margin-bottom: 30px;
    width: 100%;
    height: 4px;
    background-color: #f80040;
}

.home-logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 100px;
}

.home-logo-text {
    color: #000;
    padding-left: 18px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.ml-0 {
    margin-left: 0 !important;
}

@media screen and (max-width: 768px){
    .home-container {
        flex-direction: column;
        background: none;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .home-wrapper-right{
        width: 100%;
        margin-left: 0;
    }

    .home-wrapper-left {
        width: 100%;
        /* display: bloc; */
    }

    .home-wrapper-left-img {
        justify-content: center;
        height: 300px;
    }

    .home-wrapper-right-img-wrapper {
        padding: 10px 0;
    }

    .home-wrapper-right-title {
        margin-top: 60px;
        font-size: 32px;
    }

    .home-logo-wrapper {
        height: 50px;
        justify-content: center;
        margin-left: 0;
    }
}