.empty::after {
    content: "Không được bỏ trống ô này";
    color: red;
    font-size: 12px;

    font-weight: lighter;
}
.rentedError::after {
    content: "Vui lòng điền giá trị nhỏ hơn diện tích còn lại và không điền số âm";
    color: red;
    font-size: 12px;

    font-weight: lighter;
}
